[Desktop Entry]
Version=1.0
Type=Application
Name=OBS Studio
Comment=Open Broadcaster Software
Exec=obs
Icon=com.obsproject.Studio
Terminal=false
Categories=AudioVideo;Recorder;
StartupNotify=true
