[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Xfce Terminal Emulator
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=Utility;TerminalEmulator;
StartupNotify=true
