**/__pycache__/**

*.ckpt
*.pth
*.onnx
*.engine
*.profile
*.timing
*.dfm
*.trt
models/liveportrait_onnx/*.onnx
models/liveportrait_onnx/*.trt
saved_parameters*.json
startup_parameters*.json
data.json
merged_embeddings*.txt
.vs
*.sln
*.pyproj
*.json
.vscode/
tensorrt-engines/
source_videos/
source_images/
output/
dependencies/
Rope_TensorRT*.bat
unins000.dat
unins000.exe
test_frames*/
test_videos*/
*.mp4
*.jpg